<div class="vertFlex" [@fade]="data.dodo ? 'closed' : 'open'">
  <div id="app">
    <div style="padding: 50px">
      <app-gestion-joueurs
        [data]="data"
        *ngIf="data.page == 'gestionJoueurs'"
      ></app-gestion-joueurs>
      <app-gestion-roles
        [data]="data"
        *ngIf="data.page == 'gestionRoles'"
      ></app-gestion-roles>
      <app-attribution-roles
        [data]="data"
        *ngIf="data.page == 'attributionRoles'"
      ></app-attribution-roles>
      <app-nuit [data]="data" *ngIf="data.page == 'nuit'"></app-nuit>
      <app-votes
        [data]="data"
        *ngIf="
          data.page == 'election' ||
          data.page == 'vote' ||
          data.page == 'recap' ||
          data.page == 'win'
        "
      ></app-votes>
    </div>
  </div>
</div>
