<div *ngIf="start=='ajoutJoueurs'" style="display:flex; justify-content: center;">
  <div>
    <div style="display:flex; justify-content: center;" *ngIf="add">
      <input type="string" [(ngModel)]="nomjoueur"/>
      <button (click)="addPlayer()">Valider</button>
    </div>
    <div style="display:flex;justify-content:center;"><button *ngIf="!add" (click)="add = true">Ajouter joueur</button></div>
    
  
    
    <div style="display:flex;margin:10px 0px">
      <p class="clickable" *ngFor="let joueur of tmpJoueurs" (click)="clickJoueur(joueur)" style="margin-right:10px;">{{joueurSelected==joueur?'Supprimer ?':joueur.nom}}</p>
    </div>
  
    <div style="display:flex;justify-content:center;"><button (click)="clickStart()">Suivant</button></div>
    
  </div>
</div>

<div *ngIf="start=='cartes'" style="display:flex;justify-content:center">
  <div>
    <div style="display:flex">
      <div *ngFor="let role of roles">
        <p>{{role.nom}}</p>
        <img src="./assets/{{role.image}}.jpg" style="width:100px;height:100px"/>
        <p>{{role.nb}}</p>
        <div style="display:flex;justify-content: space-evenly;">
          <button (click)="addCarte(role,1)" [disabled]="totalCards==0" [style.opacity]="totalCards==0?'0.2':'1'">+</button>
          <button (click)="addCarte(role,-1)" [disabled]="(role.nb==0||(role.nom=='Tueur'&&role.nb==1))" [style.opacity]="(role.nb==0||(role.nom=='Tueur'&&role.nb==1))?'0.2':'1'">-</button>
        </div>
      </div>
    </div>
    <div style="display:flex;justify-content:center;margin-top:10px;"><button (click)="validCartes()" style="width:25%;">Suivant</button></div>
  </div>
  
</div>

<div *ngIf="start=='checkRoles'" style="display:flex;justify-content: center;">
  <div *ngIf="joueurSelected.role" >
    <p>{{joueurSelected.nom}}, vous êtes</p>
    <p style="font-size:40px;">{{joueurSelected.role.nom}} {{joueurSelected.nb}}</p>
    <div style="display:flex;justify-content:center;"><img src="./assets/{{joueurSelected.role.image}}.jpg" style="width:300px;height:300px;"/></div>
    <p>{{joueurSelected.role.description}}</p>
    <div style="display:flex;justify-content:center;"><button (click)="clickNextRole()">Suivant</button></div>
  </div>
</div>

<div *ngIf="start=='dodo'">
  <img src="./assets/nuit.jpg" style="width:100%;position:absolute;top:0;">
  <div style="display:flex;justify-content:center">
    <div style="z-index:1;position:relative;background-color:gray;margin-top:10%;border-radius:100%;width:200px;height:200px;opacity:0.8;border:5px solid black">
      <p style="margin-top:20%">DODO !</p>
      <div style="display:flex;justify-content:center;"><button (click)="tour==0?start='checkRoles':startNuit()">Suivant</button></div>
    </div>
  </div>
</div>

<div *ngIf="start=='nuit'" style="display:flex;justify-content: center;">
  <div style="display:flex">
    <div *ngIf="joueurSelected.role&&joueurSelected.role.showPlayers">
      <div *ngFor="let joueur of joueurs;let i=index">
        <div *ngIf="!joueur.out&&((joueur==joueurSelected&&joueurSelected.role?.nom=='Docteur')||(joueur!=joueurSelected&&joueurSelected.role?.nom!='Tueur')||(joueur.role?.nom!='Tueur'&&joueurSelected.role?.nom=='Tueur'))" style="display:flex">
          <p class="clickable" (click)="clickPlayer(joueur)" style="width:150px;" [style.color]="((joueur.killed&&joueurSelected.role.heal)||(joueurSelected.role.nom=='Seducteur'&&joueur.linkedTo)||(persoClicked==joueur))?'red':'white'">{{i}}. {{joueur.nom}}</p>
          <img *ngIf="!joueurSelected.voyant?.includes(joueur)" src="./assets/dos.jpg" style="width:50px;height:50px;"/>
          <img *ngIf="joueurSelected.voyant?.includes(joueur)" src="./assets/{{joueur.role?.image}}.jpg" style="width:50px;height:50px;"/>
          <p *ngIf="joueurSelected.voyant?.includes(joueur)" style="margin-left:5px;">{{joueur.role?.nom}}</p>
        </div>
      </div>
    </div>

    <div *ngIf="joueurSelected.role" >
      <p>{{joueurSelected.role.nom}} {{joueurSelected.nb}}</p>
      <p style="opacity:0.1">{{joueurSelected.nom}}</p>
      <div style="display:flex;justify-content:center;"><img src="./assets/{{joueurSelected.role.image}}.jpg" style="width:300px;height:300px;"/></div>
      <p>{{joueurSelected.role.role}}</p>
      <p *ngIf="joueurSelected.role.heal&&!over">1 - Le joueur {{joueurBlesse()}} est mal en point, voulez pouvez le soigner</p>
      <p *ngIf="joueurSelected.role.kill&&!over">2 - Vous pouvez donner un médicament douteux à un autre joueur</p>
      <div style="display:flex;justify-content:center;"><button (click)="clickNextJoueur()">Suivant</button></div>
    </div>
  </div>
</div>

<div *ngIf="start=='vote'">
  <p *ngIf="voteEnded">Le vote est terminé !</p>
  <p *ngIf="!voteEnded">Attention, un joueur devra être éxecuté si le village ne se décide pas dans :</p>
  <p style="font-size: 40px;" *ngIf="!voteEnded">{{timer}} secondes !</p>
  <div  style="display:flex;justify-content: center;">
    <div *ngFor="let joueur of joueurs;let i=index"  [ngClass]="{linked:joueur.killed&&joueur.linkedTo}" [style.opacity]="joueur.killed?'0.3':'1'">
      <p>{{joueur.nom}}</p>
      <img *ngIf="!joueur.killed" src="./assets/dos.jpg" style="width:100px;height:100px"/>
      <img *ngIf="joueur.killed" src="./assets/{{joueur.role?.image}}.jpg" style="width:100px;height:100px"/>
      <p *ngIf="joueur.killed">{{joueur.role?.nom}}</p>
      <div>
        <select [(ngModel)]="select[i]" style="width:100%" *ngIf="!voteEnded">
          <ng-container *ngFor="let j of joueurs">
            <option *ngIf="j!=joueur&&!j.killed">{{j.nom}}</option>
          </ng-container>
        </select>
      </div>
    </div>
  </div>
  <div style="display:flex;justify-content:center;"><button (click)="endVote()" [disabled]="countSelect()>0" [style.opacity]="countSelect()>0?'0.3':'1'">{{voteEnded?'Suivant':'Voter'}}</button></div>
  <div>
    <p>Rôles restants :</p>
    <div style="display:flex;justify-content:center">
      <div *ngFor="let role of getRolesRestants()">
        <p>{{role.role.nom}} : {{role.qte}}</p>
        <img src="./assets/{{role.role.image}}.jpg" style="width:100px;height:100px"/>
      </div>
      
    </div>
  </div>
</div>

<div *ngIf="start=='end'">
  <p  style="font-size: 40px;">Victoire !</p>
  <p  style="font-size: 20px;">Bravo aux {{winners}} qui gagnent la partie !</p>
  <div  style="display:flex;justify-content: center;">
    <div *ngFor="let joueur of joueurs;let i=index"   [ngClass]="{linked:joueur.killed&&joueur.linkedTo}" [style.opacity]="joueur.killed?'0.3':'1'">
      <p>{{joueur.nom}}</p>
      <img src="./assets/{{joueur.role?.image}}.jpg" style="width:100px;height:100px"/>
      <p>{{joueur.role?.nom}}</p>
    </div>
  </div>
  <div style="display:flex;justify-content:center;"><button (click)="clickStart()">Rejouer</button></div>
</div>

<div *ngIf="start=='kamikaze'">
  <p>Le kamikaze {{kamikaze?.nom}} est sur le point de mourir, il peut emporter quelqu'un avec lui !</p>
  <div  style="display:flex;justify-content: center;">
    <div *ngFor="let joueur of joueurs;let i=index"    [ngClass]="{linked:joueur.killed&&joueur.linkedTo}" [style.opacity]="joueur.killed?'0.3':'1'">
      <p class="clickable" (click)="joueur.killed=true;checkIfWin()">{{joueur.nom}}</p>
      <img *ngIf="!joueur.killed" src="./assets/dos.jpg" style="width:100px;height:100px"/>
      <img *ngIf="joueur.killed" src="./assets/{{joueur.role?.image}}.jpg" style="width:100px;height:100px"/>
      <p *ngIf="joueur.killed">{{joueur.role?.nom}}</p>
    </div>
  </div>
  <div style="display:flex;justify-content:center;"><button (click)="endVote()">Suivant</button></div>
</div>